body{
    margin: 0;
    text-align: center;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.hiline{
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    font-size: 3rem;
    background-image: url(image/sky.jpg);
    color: white;
    width: 82%;
}

.avatar{
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    top: 1rem;
}

.intro{
    font-size: 2rem;
    height: 100%;
    width: 82%;
    margin: auto;
    color: whitesmoke;
    text-align: center;
    font-family: 'Alata', sans-serif;
    background: #42dee1;
    position: relative;
    background-image: url("image/sky2.jpg");
    background-size: 100% 100%;
}

#welcome{
    opacity: 0.8;
    width: 40%;
    margin: 0;
    display: inline-block;
    position: relative;
    right: 5%;
}

#welcome:hover {
    background-color: black;
    width: 40%;
    margin: auto;
}

.img1{
    width: 15%;
    height: 15%;
    float: right;
    margin-left: 2rem;
}

.img2{
    width: 15%;
    height: 15%;
    float: left;
    margin-right: 2rem;
}

.profile{
    width: 35%;
    margin: auto;
}

.skill-row{
    width: 50%;
    margin: auto;
}

.middle-container{
    line-height: 2;
}

.bottom-container{
    background-color: #51eaea;
    height: 5rem;
    color: black;
    line-height: 2;
}

hr{
    height: 1rem;
    width: 82%;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgb(47, 221, 252);
    margin: 5rem auto 5rem auto;
}
