body{
    margin: 0;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.hiline{
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    color: black;
    width: 82%;
    background: #fafafa;
}

.avatar{
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    bottom: 1rem;
}

.intro{
    font-size: 2rem;
    height: 10%;
    width: 82%;
    margin: auto;
    text-align: center;
    font-family: 'Alata', sans-serif;
    background: #ecfcff;
    position: relative;
}

#welcome{
    opacity: 0.8;
    width: 40%;
    margin: 0;
    display: inline-block;
    position: relative;
    right: 5%;
    top: 1.7rem;
}

#welcome:hover {
    background-color: salmon;
    width: 40%;
    margin: auto;
}

.img1{
    width: 15%;
    height: 15%;
    float: right;
    margin-left: 2rem;
}

.img2{
    width: 15%;
    height: 15%;
    float: left;
    margin-right: 2rem;
}

.profile{
    width: 35%;
    margin: auto;
}

.skill-row{
    width: 50%;
    margin: auto;
}

.middle-container{
    line-height: 3;
    text-align: center;
}

.bottom-container{
    background-color: #004a7c;
    height: 8rem;
    color: black;
    line-height: 2;
    padding: 2rem 0 1rem;
    text-align: center;
}

hr{
    height: 1rem;
    width: 82%;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgb(47, 221, 252);
    margin: 5rem auto 5rem auto;
}

a{
    color: black;
    margin: 1rem 1rem;
    text-decoration: none;
}

a:hover{
    color: chartreuse;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    width: 10rem;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1rem;
    transition: 0.5s;
  }
  
.btn:hover span {
    padding-right: 1.5rem;
  }
  
.btn:hover span:after {
    opacity: 1;
    right: 0;
  }

.navbar-expand-sm{
   background-color: #005691;
   width: 82%;
   margin: auto;
}

.nav-link{
    color: silver;
}

.navbar-brand{
    color: white;
}
