body{
    margin: 0;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.hiline{
    font-family: 'Alata', sans-serif;
    text-align: center;
}

.avatar{
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    top: 25px;
}

.intro{
    font-size: 30px;
    height: 100%;
    width: 80%;
    margin: auto;
    color: whitesmoke;
    text-align: center;
    font-family: 'Alata', sans-serif;
    background: #42dee1;
    position: relative;
    background-image: url("image/sky2.jpg");
    background-size: 100% 100%;
}

#welcome{
    opacity: 0.8;
    width: 40%;
    margin: 0;
    display: inline-block;
    position: relative;
    right: 5%;
}

#welcome:hover {
    background-color: black;
    width: 40%;
    margin: auto;
    color: white;
}

